.rightbar {
  position: fixed; /* 상단에 고정 */
  left: 85vw;
  width: 15vw; 
  height: 100vh; 
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 500; /* 다른 콘텐츠보다 위에 표시 */
}

.search {
  margin-bottom: 20px;
}

.tagSection {
  margin-top: 20px;
}

.tagList {
  list-style-type: none;
  padding: 0;
}

.tag {
  padding: 10px;
  margin-bottom: 10px;
  color: white; /* 태그 텍스트 색상 */
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.tag:hover {
  transform: scale(1.05);
}