.rightbar {
  position: fixed; /* 상단에 고정 */
  left: 85vw;
  width: 15vw; 
  height: 100vh; 
  background-color: #FFF5E4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 500; /* 다른 콘텐츠보다 위에 표시 */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
}

.menuItem {
  cursor: pointer;
  font-size: 18px;
}