.postList{
  display:flex;
  flex-wrap: wrap;
  width:100vw;
  height: auto; /* 내용에 따라 높이가 조정되도록 */
  min-height: 100vh; /* 최소 높이 100vh 보장 */
  padding-bottom: 20px; /* 하단에 여백 추가 */
  justify-content: space-around;
}
.link{
  width:32vw;
  height:11vh;
  padding: 1vw;
  margin-top:5vh;
  color: inherit; /* 부모 요소의 색상을 따름 */
  text-decoration: none; /* 밑줄 제거 */
}
.postItem {
  padding: 1vw;
  width:32vw;
  height:11vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 변환 */
  overflow: hidden; 
  text-overflow: ellipsis; 
  color: inherit; /* 부모 요소의 색상을 따름 */
  text-decoration: none; /* 밑줄 제거 */
}

.postItem a{
  color: inherit; /* 부모 요소의 색상을 따름 */
  text-decoration: none; /* 밑줄 제거 */
}

.postItem:hover {
  transform: scale(1.1); /* 자연스러운 확대 효과 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
.postItem:hover a{
  color: inherit; /* hover 시에도 색상 유지 */
  text-decoration: none; /* hover 시에도 밑줄 제거 */
}


.postTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.postContent {
  font-size: 16px;
  color: #333;
}

.postDate {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.tagList {
  display:flex;
  margin-top: 10px;
}

.tagItem {
  display: inline-block;
  padding: 5px 10px;
  background-color: #0070f3;
  color: white;
  border-radius: 4px;
  margin-right: 5px;
}