.postList{
  display:flex;
  flex-wrap: wrap;
  width:100vw;
  margin-top:5vh;
  justify-content: space-around;
}
.postItem {
  padding: 20px;
  width:35vw;
  height:10vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 변환 */
}

.postItem:hover {
  transform: scale(1.1); /* 자연스러운 확대 효과 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* hover 시 그림자 추가 */
}

.postTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.postContent {
  font-size: 16px;
  color: #333;
}

.postDate {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.tagList {
  margin-top: 10px;
}

.tagItem {
  display: inline-block;
  padding: 5px 10px;
  background-color: #0070f3;
  color: white;
  border-radius: 4px;
  margin-right: 5px;
}